{% extends "clients/base.html" %}
{% load static %}
{% block title %}CD Business loan{% endblock title %}
{% block content %}

<div class="container mx-auto px-4 max-w-4xl">
    <h1 class="text-3xl font-bold text-black mb-4 mt-4">Banks and Credit Unions Known To Do Secured Lending</h1> 
  <!-- Compliance Section -->
  <div class="p-6 bg-white border border-gray-300 rounded shadow mb-8">
   <!-- Image Section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold text-black mb-4">The banks and credit unions on the list below are doing secured business lending</h2>
    <div class="relative overflow-hidden  shadow-md">
      <img src="{% static 'img/loan_headder.png' %}" alt="Business Entity" class="w-full object-cover h-10">
    </div>
  </div>
  <p class="text-gray-800 text-base mb-4">Before you apply be sure to visit their website and talk to a loan officer for the specifics of what they require.</p>
  <h2 class="text-xl font-semibold text-black mb-4">Compliance Item - Bank Rating, A Minimum Low 5 Is Critical</h2>

   
    <div class="border border-blue-300 rounded mb-4 p-4">
      <h2 class="text-sm font-semibold text-white bg-blue-600 p-2 rounded-t">
        Organizations Known To Do Secured Business Lending
      </h2>
      <p class="text-gray-800 text-base mb-4">The list below is not intended to be a complete list of those banks and credit unions doing secured business lending. In fact most banks and credit unions that do business lending will make secured business loans if you ask them but they do not advertise that fact.</p>
        <p class="text-gray-800 text-base mb-4">The organizations listed below are openly advertising their secured business lending products making your time more effective and your approval more likely.</p>
      <div class=" mb-2 bg-white">
        <table class="min-w-full table-auto">
            <thead>
              <tr class="bg-gray-100">
                <th class="px-4 py-2 text-sm font-semibold text-gray-700">Banks</th>
                <th class="px-4 py-2 text-sm font-semibold text-gray-70"></th> 
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Bank of America</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $25,000 to $250,000, up to 5 year terms, and 3.5% interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">PNC Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $100,000 to $3 million, up to 7 year terms, and WSJ Prime interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Union Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit up to $1 million with interest only monthly payments based on balance.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Wells Fargo Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Business Credit Card from $500 to $25,000 credit line enroll by calling 1-800-225-5935.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">First National Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Business Credit Card from $2,000 to $100,000 credit line. Security 110% of credit line.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Bank of the West</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $10,000 to $750,000, up to 7 year terms with variable interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Banner Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $50,000 to $1,000,000, up to 5 year terms with variable interest rate.</td>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Benton Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $10,000 offering discounted rates for deposit secured term loans.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Fifth Third Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit from $10,000 to $100,000, no interest until draw money from the line.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Key Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit $10,000 to $500,000, interest only options, renewable in 12 months.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Truist Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit or Term Loan, fixed and variable rate options, loans up to $500,000.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Bank of Nevada</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan up to $250,000, approval decision normally within 2-3 business days.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Alaska USA Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit or Term Loan, from $2,500 up to $250,000, one year renewable terms.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">American Savings Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $10,000 up to $250,000, 90% of cash asset, up to 5 year terms.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">IBC Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $5,000 to $100,000, up to 5 year terms with fixed interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Timberland Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan offering fixed and variable rates with flexible payment length terms.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Zions Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan, up to 7 year term, up to $500,000, with fixed or variable interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">City National Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit from $10,000 to $1 million, up to 5 year terms, auto-payments.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Central Valley Community</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit or Term Loan, loans from $25.000 to $250,000, various terms.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Woodforest Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit or Term Loan, loans from $1.000 to $250,000, fixed rate, CD secured.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Ion Bank</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan up to $100,000, up to 5 year term, and fixed interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Apple Bank<a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit or Term Loan loans from $500 to $100,000, fixed rate, CD secured.</td>
              </tr>
              <tr class="bg-gray-100">
                <th class="px-4 py-2 text-sm font-semibold text-gray-700">Credit Unions</th>
                <th class="px-4 py-2 text-sm font-semibold text-gray-70"></th> 
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Go Amplify Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit or Term Loan from $25,000 to $1 million, renewable every 24 months.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Astera Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $10,000 to $100,000, up to 7 year term, and 3.5% fixed interest rate.</td>
              </tr><tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Metro Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Business Credit Card from $1,000 to $25,000 credit line, $45 annual fee, CD secured.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">SIU Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit and Equipment Financing, various programs, must call for more info.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Hudson Valley Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan and Equipment Financing, up to 5 years term, and fixed interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Mountain America Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit from $50,000 to $250,000, 2.0% to 2.5% over prime interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://vystarcu.org/business/borrow/business-loans/cash-secured-loans" class="text-blue-600 hover:underline" target="_blank">VyStar Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $500 to $500,000, up to 5 term, 2% over CD interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Michigan State Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit or Term Loan, loans from $10,000 to $1 million, interest only payments.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Point West Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan from $10,000 to $500,000, 2.24 fixed interest rate, CD share secured.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Zeal Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan, up to 7 year term, up to $500,000, with fixed or variable interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">PSE Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan, up to 10 year term, up to $1 million, with fixed or variable interest rate.</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Westerra Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Term Loan, up to 1 year term, up to $1 million, interest rate 3% above CD rate..</td>
              </tr>
              <tr class="bg-white">
                <td class="px-4 py-2 text-sm text-gray-700"><a href="https://www.yolofcu.org/business-loans/" class="text-blue-600 hover:underline" target="_blank">Yolo Credit Union</a></td>
                <td class="px-4 py-2 text-sm text-gray-700">Secured Line of Credit do not disclose loan amount range, terms, or interest, must call.</td>
              </tr>
              
            </tbody>
          </table>
          
          </div>
    </div>

  
  
<!-- Form Section -->
<form method="POST" action="{% url 'businessloan' business.pk %}">
  {% csrf_token %}
  <div class="p-6 bg-white">
    <div class="mb-4">
      <label for="cd_loan_status" class="block text-sm font-medium text-gray-700">
        What is the status of your secured bank loan?
        </label>
        <select id="cd_loan_status" name="cd_loan_status" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
          <option value="" {% if business.cd_loan_status == "" %}selected{% endif %}>--Select One--</option>
          <option value="at_least_5000" {% if business.cd_loan_status == "elected" %}selected{% endif %}>I have elected to move forward with the program</option>
          <option value="need_help_raising_5000" {% if business.secured_loan_status == "onprogress" %}selected{% endif %}>I am passing on the secured bank loan at this time</option>
      </select>
  </div>
  </div>

  <!-- Save Button -->
  <div class="flex justify-center space-x-4">
    <button onclick="window.history.back();" type="button" class="bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300"><< Back</button>
    <a href="{% url 'clientindex' user_id=request.user.id %}" 
      class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">
      Dashboard
    </a>
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Save & Continue >></button>
  </div>

</form>

   
</div>


{% endblock content %}
