{% extends "clients/base.html" %}
{% load static %}
{% block title %}Corp Only Facts{% endblock title %}
{% block content %}

<div class="container mx-auto px-4 max-w-4xl">
    <h1 class="text-3xl font-bold text-black mb-4 mt-4">The Owners Personal Credit Can Play A Role</h1> 
  <!-- Compliance Section -->
  <div class="p-6 bg-white border border-gray-300 rounded shadow mb-8">
   <!-- Image Section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold text-black mb-4">The business owners' personal credit can still play a critical role</h2>
    <div class="relative overflow-hidden  shadow-md">
      <img src="{% static 'img/businessplan.png' %}" alt="Business Entity" class="w-full object-cover h-10">
    </div>
  </div>
  <p class="text-gray-800 text-base mb-4">The ability to secure financing, especially during the initial stages, may depend on personal credit</p>
  <p class="text-gray-800 text-base mb-4">We know that one of the main reasons you are building business credit is to get away from having all of the business financing tied personally to the business owners. The good news is that you are well on your way to doing just that.</p>
  <p class="text-gray-800 text-base mb-4">By building strong business credit scores you will be able to secure vendor lines of credit, credit cards, vehicle leases and many other types of business financing using only your business credit. However, beyond that, there is still more to the equation that many business credit building services don't want to talk about.</p>
  <p class="text-gray-800 text-base mb-4">In business, owner's personal credit scores can make a difference. Typically, 720 is preferred for personal credit scores. If business owners (anyone owning 15% or more) or officer of your company (CEO, President, CFO, etc.) that has personal credit scores above 720, then more financing will become available at lower interest rates and a much higher rate of approval.</p>
  <h2 class="text-xl font-semibold text-black mb-4">The Facts About No Personal Guarantee "Cash Type" Business Loans</h2>

   
    <div class="border border-blue-300 rounded mb-4 p-4">
      <h2 class="text-sm font-semibold text-white bg-blue-600 p-2 rounded-t">
        Let's look at the facts and not myths about "Corp Only" financing
      </h2>
      <h3 class="text-md font-bold "> Is Corp Only financing available? Of course it is! How is it obtained?</h3>
      <div class=" mb-2 bg-white">
        <p class="text-sm text-black mb-2">
            When we are talking about "Cash Type" corp only financing for startup businesses, or a business whose owners have poor personal credit, then some type of assets or security will be needed. That can be receivables to factor, revenue which can be leveraged, 401Ks to roll over, equipment to sale leaseback, government contracts, purchase orders, carryback notes, settlement streams or other types of tangible securities which can be pledged or attached. Those are just some of the ways that Cash Type corp only financing gets done. Many more programs are available in this system.
        </p>
        

        <h3 class="text-md font-bold ">Corp Only "unsecured cash financing" is also available to businesses by first pre-qualifying for it. Typical qualifications are:</h3>
        <ol class="list-decimal list-inside  text-gray-800 text-base pl-10">
            <li>A comparable credit amount equal to or greater than the amount requested.</li>
            <li>A minimum of 10 reporting tradelines that have at least 1 year reporting history.</li>
            <li>
                Minimum Bank Low 5 Rating (average daily balance of $10,000+ for 90 days).
            </li>
            <li>
                All 20 items of Lender Compliance completed as defined in this system.
            </li>
            <li>$35,000 a month or more in gross revenue showing the ability to debt service.</li>
            <li>At least 2 years time in business history not just from the Corp filing date.</li>
            <li>Filed tax returns and financial statements for at least the prior last full year.</li>
            <li>Entity in good standing with foreign corp and business license requirements met.</li>
            <li>Less than 45% debt-to-income with no blanket UCC filings or lis pendens.</li>
            <li>Less than 45% balance-to-limit on all outstanding revolving business debt.</li>
            <li>Business credit scores with all 4 major business credit agencies of 70+.</li>
            <li>Have a FICO Small Business Score of 155+ out of the 0 to 300 range.</li>
          </ol>
          </div>
    </div>
    <h3 class="text-md font-bold ">Are other types of Corp Only Non-Cash financing available? Yes! There are so many.</h3>
          <p class="text-sm text-black mb-2">
            There are thousands of sources readily available for financing for products, services, inventory, equipment, and other NON-CASH type financing. These come in the form of net 30 payment terms, revolving credit lines and specific brand type credit cards such as store and fleet cards. It is this type of financing that is most common for business credit building and for which over 3,000 sources are available in this system.
            </p>
            <p class="text-sm text-red-500 mb-2">
                Caution - Purchasing Authorized User Accounts
            </p>
            <h3 class="text-md font-bold ">The general rule in all credit reporting is do not commit fraud. Here is an example:</h3>
          <p class="text-sm text-black mb-2">
            Authorized user account abuse has become a tool that fraudsters are using as a way to pump up personal credit reports and scores. DON'T DO IT!</p>
        <p class="text-sm text-black mb-2">The way it works is the fraudsters sell you being added to the credit card accounts of people with excellent payment histories on high limit credit cards. The intent is to raise your credit scores because now these high limit cards with excellent payment histories will show up on your credit reports. Business lenders will spot these quickly. These accounts will be shown to have no physical relationship to you and no relationship to each card owner. You then run the risk of being tagged as a possible fraud which then relates to your business being a possible fraud. This leads to all your business loan applications being declined.</p>
        <div class="border border-blue-300 rounded mb-4 p-4">
            <h2 class="text-sm font-semibold text-white bg-blue-600 p-2 rounded-t">
                Owners Personal Credit - Where Does It Need To Be?</h2>
            <h3 class="text-md font-bold ">Anyone who owns 20% or more of the business may be asked to sign personally</h3>
              <p class="text-sm text-black mb-2">
                Previously we talked about having the owner's personal FICO 8 scores in the 720 or higher range. While that is optimal, there are a spectrum of financial products that start in the 640 FICO 8 range.
            </p>
              <h3 class="text-md font-bold ">Business lending is not like personal lending therefore here are some things to keep in mind:</h3>
              <ol class="list-decimal list-inside  text-gray-800 text-base pl-10">
                  <li>Keep all revolving accounts (credit cards) below 45% balance to limit.</li>
                    <li>Maintain a maximum debt to income ratio of 45% or below at all times.</li>
                    <li>Minimize inquiries. Do not allow more than three (3) in any 90 day period.</li>
                    <li>Try to acquire revolving accounts with limits of $5,000+. Higher is better.</li>
                    <li>Do not close old accounts. Having aged accounts is a lending bonus.</li>
                    <li>Clear off all collections, judgments, and charge-offs before applying.</li>
                    <li>Strive to get and maintain 720 or higher FICO 8 personal credit scores.</li>
                    </ol>
                </div>
          </div>
   
  
  <!-- Form Section -->
  

      <!-- Save Button -->
      .<div class="flex justify-center space-x-4">
        <button onclick="window.history.back();" type="button" class="bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300"><< Back</button>
    <a href="{% url 'clientindex' %}" 
      class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">
      Dashboard
    </a>
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Save & Continue >></button>
      </div>
   
</div>



{% endblock content %}


