{% extends "clients/base.html" %}
{% load static %}
{% block title %}Phones & 411{% endblock title %}
{% block content %}

<div class="container mx-auto px-4 max-w-4xl">
    <h1 class="text-3xl font-bold text-black mb-4 mt-4">Business Phone and 411 Directory Listing</h1> 
  <!-- Compliance Section -->
  <div class="p-6 bg-white border border-gray-300 rounded shadow mb-8">
   <!-- Image Section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold text-black mb-4">You need a FCC listed business phone number. Not Cell or Home Listing.</h2>
    <div class="relative overflow-hidden  shadow-md">
      <img src="{% static 'img/phone_headder.png' %}" alt="Business Entity" class="w-full object-cover h-10">
    </div>
  </div>
    <p class="text-gray-800 text-base mb-4">We live in a credit histories and analytics world where lenders look backwards at trends which have shown higher rates of default. What one of these trends has shown lenders is that businesses that operate solely from cell phones have been 10 to 20 times more likely to default. Therefore if you operate your business solely from cell phones then you are going to get tagged as being a much higher risk of default and therefore much more likely to be declined.</p>
    <p class="text-gray-800 text-base mb-4">The perception lenders, vendors, and creditors have of your business is critical to your ability to build strong business credit. This perception is why we highly recommend that you have a business phone number listed under 411, and even an "800" number. These items are important components of building your business credit and boosting the perception of your business.</p>
    <p class="text-gray-800 text-base mb-4">You must have a dedicated business phone number that is listed with 411 directory assistance, under the business name. Do not use your home number or a cell number. Lenders, vendors, creditors, and even insurance providers will verify that your business is listed with 411. A toll-free number will give your business credibility, but you must have a LOCAL business number for the listing with 411 directory assistance.</p>
    
  
    <!-- Business Phone Number -->
    
    <h1 class="text-lg font-semibold text-black mb-4 mt-4">Compliance Item - Business Phone Number</h1>
    <div class="border border-blue-300 rounded">
      <h2 class="text-sm font-semibold text-white bg-blue-600 p-2 rounded-t">
        Compliance Item Fix - FCC Listed Business Phone
      </h2>
      <div class="p-4 bg-white">
        <p class="text-sm text-black">
          How do potential lenders, vendors and customers see you? It's easy and inexpensive to set-up a virtual local phone number in your area code or a toll free 800 or 8** number - We recommend setting up both.</p>
        <p class="text-sm text-black mt-4">
          If you need a business number to list in 411, you must get a Virtual Local Number with your local area code, 800 toll free numbers cannot be listed in your local 411 directory.</p>
      </div>
    </div>
    
    <h1 class="text-lg font-semibold text-black mt-4">Compliance Item - USPS Listed Business Address</h1>
<div class="border border-blue-300 rounded mt-4">
  <h2 class="text-sm font-semibold text-white bg-blue-600 p-2 rounded-t">
    Compliance Item - USPS Listed Business Address
  </h2>
  
  <div class="p-4 bg-white">
    <p class="text-sm text-black mt-2">
      To properly establish and build credit, your business needs a deliverable physical address and not a PO Box. If you don't have an actual storefront or office location, you can run your business from anywhere and still have a qualifying business address with a Virtual Office Solution.
    </p>
    <p class="text-sm text-black mt-2">
      Visit any of these providers to learn more about USPS Compliant business address solutions in your area?
    </p>
    <div class="p-8 bg-white text-center">
      <div class="grid grid-cols-2 gap-4 items-center">
        <!-- phone.com -->
        <img src="{% static 'img/phone.png' %}" alt="phone" class="w-40 mx-auto">
        <a
          href="https://www.phone.com/business-phone-systems/?_tracking_id=10716"
          class="bg-green-500 text-white font-bold py-2 px-6 rounded hover:bg-green-600"
          target="_blank"
        >
          Go To Phone.com
        </a>
    
        <!-- Vonage -->
        <img src="{% static 'img/vonage.png' %}" alt="vonage" class="w-40 mx-auto">
        <a
          href="https://www.vonage.com/"
          class="bg-green-500 text-white font-bold py-2 px-6 rounded hover:bg-green-600"
          target="_blank"
        >
          Go To Vonage.com
        </a>
    
        <!-- Ring Central-->
        <img src="{% static 'img/ringcentral.png' %}" alt="ringcentral" class="w-40 mx-auto">
        <a
          href="https://events.ringcentral.com/sign_in?redirect_url=https://dashboard.events.ringcentral.com/?utm_term=&utm_campaign=Leads-Performance+Max-22+Elastography&utm_source=adwords&utm_medium=ppc&hsa_acc=2145221544&hsa_cam=22024085220&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAiAmrS7BhBJEiwAei59i2gnn7_Ywp6OSLW1Djqxiqr_nKyfAs6dF0v0fCz2Ui-iKDhBGyKCixoCDecQAvD_BwE"
          class="bg-green-500 text-white font-bold py-2 px-6 rounded hover:bg-green-600"
          target="_blank"
        >
          Go To RingCentral.com
        </a>
    
        <!-- nextiva-->
        <img src="{% static 'img/nextive.png' %}" alt="nextiva" class="w-40 mx-auto">
        <a
          href="https://www.nextiva.com/"
          class="bg-green-500 text-white font-bold py-2 px-6 rounded hover:bg-green-600"
          target="_blank"
        >
          Go To Nextiva.com
        </a>
      </div>
  
      <!-- Footer Note -->
      <p class="mt-6 text-sm text-gray-500">
        The system provider may receive compensation for referrals to third party service companies.
      </p>
    </div>
  </div>
   
</div>
<p class="text-gray-800 text-base mt-4">Whether you're applying for financing with a lender or net credit terms with a vendor, providing a cell or home phone number as your main business line could get you "flagged" as an unestablished business that is too high of a risk. This means we DON'T recommend giving a personal cell phone or residential phone as the business phone number (note: you can forward a virtual number to any phone number, see the information in the box above)</p>
<h1 class="text-lg font-semibold text-black mb-4 mt-4">Compliance Item - Business Number in National 411 Directory</h1>
    <div class="border border-blue-300 rounded">
      <h2 class="text-sm font-semibold text-white bg-blue-600 p-2 rounded-t">
        Compliance Item Fix - National 411 Business Listing
      </h2>
      <div class="p-4 bg-white">
        <p class="text-sm text-black">
          You have the option below to select Yes for your business name and phone number to be submitted for listing with the national 411 directory. This is a courtesy service and we cannot guarantee every submission because we are simply passing your information to 411 and then they list the information. Please do not enter a cell phone or home phone number in the field provided. Only enter a business land line or a virtual number (VOIP or local area code numbers from providers like Ring Central, etc.). Allow up to 2 weeks for your phone number to show as listed. After selecting YES you'll need to click the "Save & Continue" button in order for your information to be submitted to 411.</p>
        <p class="text-sm text-black mt-4">
          Another option to get your business phone number listed is to contact your local phone carrier. Keep in mind that you'll need to have your phone service with them in order to get a number listed.</p>
          <p class="text-sm text-black mt-4">
            A third option is to 
            <span class="text-sm">
              <a 
                href="https://www.listyourself.net/ListYourself/listing.jsp" 
                class="text-blue-500 hover:text-blue-700"
                target="_blank"
              >
                list your business with ListYourself.net.
              </a>
            </span>
            The service is free and has been proven to be very effective to solve the 411 directory assistance listing.
          </p>
          <p class="text-sm text-black mt-4">
            Once you have submitted, you need to verify the listing under 411. To do this dial (Your Area Code)-555-1212 and then ask for the listing of your exact business legal name. 
            <span class="text-sm">
              <p class="text-black font-bold hover:text-blue-700">
                If possible, do not use a cell phone to check your listing!
              </p>
            </span>
            
          </p>
        </div>
        </div>
        <p class="text-gray-800 text-base mt-4">In addition, since searching the internet is the number one tool used to locate a business today, it’s crucial to make sure your business is listed on major online business directories. While there are many popular online directories to get listed with there are several key sites that play a role in the business credit building process.</p>
    
<form method="POST" action="{% url 'phones' business.pk %}">
    {% csrf_token %}
    <div class="container max-w-6xl mx-auto p-6 ">
        <!-- Center-Aligned H2 with Smaller Font -->
        <h2 class="text-center text-base font-semibold text-gray-700 dark:text-gray-300 mb-6">
          Once you have a FCC listed business phone number, fill out the information below.
        </h2>
        <!-- Form Container -->
        <div class="container px-6 mx-auto grid gap-4">
            
            <!-- Directory Assistance Listing -->
            <div class="flex items-center mb-4">
                <label class="text-sm font-semibold text-gray-700 w-1/3">Is your business phone number currently listed in 411</label>
                <div class="w-2/3 flex space-x-4">
                    <label class="flex items-center text-gray-700">
                        <input type="radio" name="listed_in_411" value="true" class="mr-2 text-blue-600 focus:ring-blue-500" {% if business.listed_in_411 %}checked{% endif %}>
                        Yes
                    </label>
                    <label class="flex items-center text-gray-700">
                        <input type="radio" name="listed_in_411" value="false" class="mr-2 text-blue-600 focus:ring-blue-500" {% if not business.listed_in_411 %}checked{% endif %}>
                        No
                    </label>
                </div>
            </div>

            <!-- 411 Directory Assistance Phone Number -->
            <div class="flex items-start mb-4">
                <label class="text-sm font-semibold text-gray-700 w-1/3">411 Directory Assistance Phone #:</label>
                <div class="w-2/3">
                    <input type="text" name="directory_phone_411" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200" value="{{ business.directory_phone_411 }}">
                    <p class="text-xs text-gray-500 mt-1">(Separate business number not home)</p>
                </div>
            </div>

            <!-- 800 Directory Assistance Phone Number -->
            <div class="flex items-start mb-4">
                <label class="text-sm font-semibold text-gray-700 w-1/3">800 Directory Assistance Phone #:</label>
                <div class="w-2/3">
                    <input type="text" name="directory_phone_800" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200" value="{{ business.directory_phone_800 }}">
                    <p class="text-xs text-gray-500 mt-1">(If applicable)</p>
                </div>
            </div>

            <!-- Submit to 411 Directory -->
            <div class="flex items-center mb-4">
                <label class="text-sm font-semibold text-gray-700 w-1/3">Would you like us to submit your business name, phone number and address to the national 411 Directory?</label>
                <div class="w-2/3 flex space-x-4">
                    <label class="flex items-center text-gray-700">
                        <input type="radio" name="submit_info_directory" value="true" class="mr-2 text-blue-600 focus:ring-blue-500" {% if business.submit_info_directory %}checked{% endif %}>
                        Yes
                    </label>
                    <label class="flex items-center text-gray-700">
                        <input type="radio" name="submit_info_directory" value="false" class="mr-2 text-blue-600 focus:ring-blue-500" {% if not business.submit_info_directory %}checked{% endif %}>
                        No
                    </label>
                </div>
            </div>

            <!-- Business Fax -->
            <div class="flex items-start mb-4">
                <label class="text-sm font-semibold text-gray-700 w-1/3">Business Fax:</label>
                <div class="w-2/3">
                    <input type="text" name="fax_number" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200" value="{{ business.fax_number }}">
                </div>
            </div>
            <!-- Center-Aligned Buttons -->
        <div class="flex justify-center space-x-4 mt-6">
          <button onclick="window.history.back();" type="button" class="bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300"><< Back</button>
          <a href="{% url 'clientindex' %}" 
            class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">
            Dashboard
          </a>
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Save & Continue >></button>
        </div>
        </div>
    </div>
</form>
</div>
{% endblock content %}


